.wordList {
  /* height: 600px; */
  margin: 0 10px;
  font-family: "Lato";
  font-size: large;
  overflow: auto;
  align-self: stretch;
}

.lengthLabel {
  font-weight: bold;
}

.found {
  color: green;
}

.missing {
  color: red;
}

.extra {
  color: gray;
}